canvas { 
    display: block; 
    outline: none; 
}

#top-bar, #bottom-bar {
    padding: 5px;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
}

#top-bar {
    top: 0;
}

#bottom-bar {
    bottom: 0;
}

#top-bar *, #bottom-bar * {
    margin: 5px;
}